.NavbarContainer {
  margin: 0 auto;
  max-width: 768px;
  padding: 1.7rem 0.5rem;
  font-size: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0rem;
  right: 0rem;
  left: 0rem;
  bottom: 2rem;
  border-radius: 50px;
}
.NavbarContainer a {
  color: #232323;
  cursor: pointer;
  text-decoration: none;
}
.NavbarContainer div {
  padding: 1rem;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  transition: 0.3s all linear;
}
.NavbarContainer div :hover {
  padding: 0.8rem;
  border-radius: 15px;
  background: #008ae6;
}
.NavbarContainer div a {
  color: black;
}

.NavbarContainer img {
  width: 10%;
  margin-left: 0.4rem;
}

.FixedShape {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.FixedShape img {
  width: 100%;
  height: 100vh;
}

/* Responsive :) */
@media (max-width: 375px) {
  /* کدهای css برای دستگاه‌های با عرض کمتر از 375 پیکسل */
  .FixedShape img {
    height: 110vh;
  }
  .NavbarContainer img {
    width: 12%;
    margin-left: 0.5rem;
  }
  .NavbarContainer {
    position: relative;
    top: 85vh;
    width: 100%;
    font-size: 1rem;
    height: 8vh;
  }
  .NavbarContainer div :hover {
    font-size: 0.8rem;
  }
}

@media (width > 375px) {
  /* کدهای css برای دستگاه‌های با عرض بیشتر از 375 پیکسل */
  .NavbarContainer img {
    width: 15%;
    margin-left: 0.5rem;
  }
  .NavbarContainer {
    font-size: 1.4rem;
    height: 10vh;
  }
}
@media (width >= 768px) {
  /* کدهای css برای دستگاه‌های با عرض بیشتر از 768 پیکسل */
  .NavbarContainer img {
    width: 10%;
    margin-left: 0.5rem;
  }
  .NavbarContainer {
    font-size: 1.5em;
    height: 12vh;
    width: 80%;
  }
}

@media (width >= 1024px) {
  /* کدهای css برای دستگاه‌های با عرض بیشتر از 1024 پیکسل */
  .NavbarContainer img {
    width: 10%;
    margin-left: 0.8rem;
  }
  .NavbarContainer {
    font-size: 1.7rem;
    height: 13vh;
  }
}
